/***************
TABLE STYLES
***************/

table {
	width: 100%;
	margin-bottom: 1.5em;
	border-collapse: collapse;

	caption {
		margin: 0 0 7px;
		font-size: 0.75em;
		color: $grey;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}

td,
th {
	text-align: left;
	padding: .5em;
}

th {
	background-color: $primary-color;
	color: white;

	&:last-child {
		border-right: 0;
	}
}


.team-table table {
	width: 100%;
}

.team-table th, .team-table td {
	text-align: center;
	vertical-align: top;
	width: calc(100% / 2); // denominator based on 2-column team tables
}

.team-table img {
	height: auto;
}